@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.6s ease-out;
}
:root {
  color-scheme: light dark;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: #f8fafc; /* bg-slate-50 */
  color: #020617; /* text-slate-900 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Inter',
    'SF Pro Text', ui-sans-serif, sans-serif;
}

html.dark body {
  background-color: #020617; /* bg-slate-950 */
  color: #f8fafc; /* text-slate-50 */
}